In [25]:
import pandas as pd
import numpy as np
import matplotlib.style
import matplotlib.pyplot as plt
import yfinance as yf
pd.options.display.float_format = '{:.4f}'.format
plt.style.use("seaborn-v0_8")

In [26]:
symbol = "EURUSD=X"
start = "2004-01-01"
end = "2020-01-01"

In [38]:
class StrategyTester():
    def __init__(self, symbol, sma_short, sma_long, start, end):
        self.end = end
        self.start = start
        self.sma_long = sma_long
        self.sma_short = sma_short
        self.symbol = symbol
        self.results = None
        self.data = self.get_data()

    def get_data(self):
        df = yf.download(self.symbol, self.start, self.end).Close.to_frame()
        df.rename(columns={"Close": "price"}, inplace=True)
        df['returns'] = np.log(df['price'] / df['price'].shift(1))
        df['sma_short'] = df['price'].rolling(self.sma_short).mean()
        df['sma_long'] = df['price'].rolling(self.sma_long).mean()
        return df

In [39]:
tester = StrategyTester(symbol, 50, 200, start, end)

[*********************100%%**********************]  1 of 1 completed

In [40]:
tester.data

            price  returns  sma_short  sma_long
Date
2004-01-01 1.2582      NaN        NaN       NaN
2004-01-02 1.2582   0.0000        NaN       NaN
2004-01-05 1.2687   0.0083        NaN       NaN
2004-01-06 1.2721   0.0027        NaN       NaN
2004-01-07 1.2641  -0.0063        NaN       NaN
...           ...      ...        ...       ...
2019-12-25 1.1090  -0.0003     1.1086    1.1151
2019-12-26 1.1095   0.0005     1.1087    1.1149
2019-12-27 1.1101   0.0005     1.1086    1.1148
2019-12-30 1.1182   0.0073     1.1087    1.1147
2019-12-31 1.1202   0.0018     1.1088    1.1146

[4145 rows x 4 columns]